:root {
	--home-text: #fff3b0;
	--home-select-text: #514f5a;
	--home-btn-background: #e95939;
	--home-btn-text: white;
}

:root[data-theme="dark"] {
	--home-text: darkorange;
	--home-select-text: #514f5a;
	--home-btn-background: black;
	--home-btn-text: white;
}
